
.feed-box {
	width: 100%;
	height: 5rem;
  display:flex;
  align-items: center;
  justify-content:center;
	background-color: white;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.feed-box img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1rem 1rem;
  background-repeat: no-repeat;
  object-fit: contain;

}

.feed-box input{
  outline-color: gray;
  margin-right: 1rem;
  width: 87%;
  height: 3rem;
}

.feed-box input::placeholder{
  color: gray;
  padding-left: 1rem;
}

.feed-box input:focus{
  color: black;
    background-color: rgb(231, 231, 231);
}

.icons{
  margin: 0px 10px;
  font-size: 1.3rem;
}

.icons:hover{
  color: #3949AB;
}

.image-upload{
  padding-top: 10px;
}

.image-upload > input
{
    display: none;
}

